
container_commands:
  01_db.sqlite:
    command: "django-admin.py migrate"


option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mac5/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mac5.settings
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: djangogo