/* progress bar css */
.progress-wrapper{
  margin-bottom: 2rem;
  &:last-child{
    margin-bottom: 0;
  }
  .labels{
    margin-bottom: 0.66rem;
    span{
      color: $dark;
      &:last-child{
        font-weight: 600;
      }
    }
  }
  .progress{
    box-shadow: none;
    .progress-bar{
      border-radius: 0.25rem;
    }
  }
}
.progress-dark{
  padding: 2.33rem 2.66rem;
  background: $dark;
  .labels span{
    color: $light;
  }
  .progress{
    background: #414144;
  }
}