<footer class="footer5 footer--bw">
        <div class="footer__big">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget text_widget">
                            {% load static %}
                            <img class="footer_logo" src="{% static 'img/mac5_new.png'%}" alt="logo"/>
                        </div><!-- ends: .widget -->
                    </div><!-- ends: .col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                        <div class="widget widget--links">
                            <h4 class="widget__title">endereços</h4>
                            <ul class="links">
                                <li><strong>Endereço: </strong><p>Av. Esperança, 117 <br>Ed. Manaíra Trade Center <br>1º. Andar, sala 101 <br>Caixa Postal 30 <br>Manaíra, João Pessoa - PB <br>CEP: 53038-280 <br></p></li>
                            </ul>
                        </div><!-- ends: .widget -->
                    </div><!-- ends: .col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                        <div class="widget widget--links">
                            <h4 class="widget__title">contatos</h4>
                            <ul class="links">
                                <li><strong>Whatsapp Business: </strong><p>(83) 9.9391.4750</p></li>
                                <li><strong>Email: </strong><p><a href="mailto:falecom@mac5.com.br" target="_top">falecom@mac5.com.br</a></p></li>
                            </ul>
                        </div><!-- ends: .widget -->
                    </div><!-- ends: .col-lg-3 -->
                </div>
            </div>
        </div><!-- ends: .footer__big -->
        <div class="footer__small text-center">
            <div class="widget text_widget">
                <img src="{% static 'img/stopplaylogo.svg'%}" width="75" height="75"/>
            </div>
             <p>Created by Stop&Play </p>
        </div><!-- ends: .footer__small -->
    </footer>