{% extends 'base.html'%}


{% block title %}Home Page{% endblock %}


{% block body %}
	<section class="p-top-110 p-bottom-40">
        <div class="intro-five">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="display-2">Business <br> <span>Startup</span></h1>
                        <p>Deserunt dolore voluptatem assumenda quae possimus sunt dignissimos tempora officia. Lorem ipsum
                            dolor sit amet consectetur adipisicing dolore.</p>
                        <a href="" class="btn btn-secondary">Learn More</a>
                    </div><!-- ends: .col-lg-6 -->
                    <div class="col-md-6">
                        <div class="shape-wrapper img-shape-one">
                            <img src="img/simg-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- ends: .intro-three -->
    </section>
    <section class="p-top-80 p-bottom-110">
        <div class="tab tab--2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab_nav2">
                            <ul class="nav justify-content-center" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info_tab1" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Our Company</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="info_tab2" data-toggle="tab" href="#info2" role="tab" aria-controls="info2" aria-selected="false">Mission Statement</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="info_tab3" data-toggle="tab" href="#info3" role="tab" aria-controls="info3" aria-selected="false">Our Approach</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end ./container -->
            <div class="tab-content tab--content2" id="tabcontent2">
                <div class="tab-pane animated fadeIn show active" id="info" role="tabpanel" aria-labelledby="info_tab1">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="tab_text_module">
                                    <p class="tab_text_module__subtitle">Trusted Business Consultancy</p>
                                    <h2>25 Years of Industry
                                        Experience</h2>
                                    <p>Investiga tiones demonstr averunt lectores legere me lius quod ii qua legunt saepius.
                                        Claritas est etiam pro cessus dynamicus, qui sequitur mutaety tionem consu etudium.
                                        Investig ationes demons trave runt lectores legere liusry awquod he legunt saepius
                                        clary.</p>
                                    <button type="button" class="btn btn-primary">
                                        Read More
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-1">
                                <div class="video-single">
                                    <figure>
                                        <div class="v_img">
                                            <img src="img/simg-2.jpg" alt="" class="rounded">
                                        </div>
                                        <figcaption class="d-flex justify-content-center align-items-center shape-wrapper img-shape-two">
                                            <a href="https://www.youtube.com/watch?v=omaTcIbwt9c" class="video-iframe play-btn play-btn--lg play-btn--primary"><img src="img/svg/play-btn.svg" alt="" class="svg"></a>
                                        </figcaption>
                                    </figure>
                                </div><!-- ends: .video-single -->
                            </div>
                        </div>
                    </div>
                </div><!-- end ./tab-pane -->
                <div class="tab-pane animated fadeIn" id="info2" role="tabpanel" aria-labelledby="info_tab2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <figure class="tab_image_module--left">
                                    <img src="img/tab2img2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-5 offset-lg-1">
                                <div class="tab_text_module">
                                    <h2>Best Business Support</h2>
                                    <p>Investiga tiones demonstr averunt lectores legere me lius quod ii qua legunt saepius.
                                        Claritas est etiam pro cessus dynamicus, qui sequitur mutaety tionem consu etudium.
                                        Investig ationes demons trave runt lectores legere liusry awquod he legunt saepius
                                        clary est etiam pro cessus dynamicus, qui sequitur mutaety.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane animated fadeIn" id="info3" role="tabpanel" aria-labelledby="info_tab3">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5 ">
                                <div class="tab_text_module">
                                    <h2>Business Strategy</h2>
                                    <p>Investiga tiones demonstr averunt lectores legere me lius quod ii qua legunt saepius.
                                        Claritas est etiam pro cessus dynamicus, qui sequitur mutaety tionem.</p>
                                    <ul class="arrow--list4">
                                        <li class="list-item arrow-list4"> Professional delivers solutions</li>
                                        <li class="list-item arrow-list4"> Business human capital research</li>
                                        <li class="list-item arrow-list4"> Services complex problems bringing</li>
                                        <li class="list-item arrow-list4"> Strategy works with senior executives</li>
                                    </ul><!-- ends: .arrow--list4 -->
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-1">
                                <figure class="tab_image_module--right">
                                    <img src="img/tab2img3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end ./tab -->
    </section>
    <section class="bt1 services_area p-top-100 p-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-sun-o"></i></span>
                        <h6>Business Services</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-cart-plus"></i></span>
                        <h6>Product Consulting</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-bar-chart"></i></span>
                        <h6>Financial Consulting</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-money"></i></span>
                        <h6>Investment Planning</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-line-chart"></i></span>
                        <h6>Business Growth</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-five">
                        <span class="icon-rounded-sm"><i class="la la-lightbulb-o"></i></span>
                        <h6>Financial Planning</h6>
                        <p>Investig ationes demons wtravge vunt lectores legere lokrus quodk legunt saepius claritas est.</p>
                        <a href="" class="btn btn-sm btn-outline-secondary">See Details</a>
                    </div><!-- ends: .icon-box -->
                </div>
            </div>
        </div>
    </section>
    <section class="content-block section-padding section-bg content--block5">
        <div class="container">
            <div class="row d-flex text-md-center text-lg-left align-items-center">
                <div class="col-lg-6 margin-md-60">
                    <img src="img/map.png" alt="">
                </div><!-- ends: .col-lg-6 -->
                <div class="col-lg-5 offset-lg-1">
                    <h3 class="m-bottom-20">270 Finished Projects Worldwide</h3>
                    <p>Investiga tiones demonstr averunt lectres legere me lius quod ii qua legunt saepius. Clarias est
                        etiam pro cessus dynamicus, qui sequitur mutaety tionem consu etudium. Investig ationes demons
                        trave runt lectores legere liusry.</p>
                    <a href="" class="btn btn-primary btn-arrow mt-3">View Work <i class="la la-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section><!-- ends: .content-block -->
    <section class="p-top-100 p-bottom-95">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Case Studies</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-carousel owl-carousel">
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s1.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s2.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s3.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s4.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s1.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s2.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s3.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s4.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
            <div class="portfolio-carousel-single">
                <figure>
                    <img src="img/s1.jpg" alt="">
                    <figcaption>
                        <h5>Strategy Planning</h5>
                        <span class="color-secondary">Industry</span>
                        <a href="" class="link"><i class="la la-link"></i></a>
                    </figcaption>
                </figure>
            </div><!-- ends: .carousel-single -->
        </div><!-- portfolio-carousel -->
    </section>
    <section class="testimonials p-bottom-65">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>What They Said</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-three owl-carousel">
                        <div class="carousel-single">
                            <div class="card card-shadow card--testimonial2">
                                <div class="card-body text-center">
                                    <img src="img/client1.jpg" alt="" class="rounded-circle">
                                    <h6>Business is doing great</h6>
                                    <div class="ratings color-warning">
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                    </div>
                                    <p>Investig ationes demons traghyve runt lectores legere liusgr awquod he legunt dbtsaepius clary tyitas
                                        Investig atiohynes.</p>
                                    <p class="author-spec"><strong>Jeff Collins,</strong> <span class="color-secondary">Aazztech</span></p>
                                </div>
                            </div><!-- End: .card-body -->
                        </div><!-- ends: .carousel-single -->
                        <div class="carousel-single">
                            <div class="card card-shadow card--testimonial2">
                                <div class="card-body text-center">
                                    <img src="img/client2.jpg" alt="" class="rounded-circle">
                                    <h6>Best Strategists Around</h6>
                                    <div class="ratings color-warning">
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                    </div>
                                    <p>Investig ationes demons traghyve runt lectores legere liusgr awquod he legunt dbtsaepius clary tyitas
                                        Investig atiohynes.</p>
                                    <p class="author-spec"><strong>Steve Rogers,</strong> <span class="color-secondary">EcoTheme</span></p>
                                </div>
                            </div><!-- End: .card-body -->
                        </div><!-- ends: .carousel-single -->
                        <div class="carousel-single">
                            <div class="card card-shadow card--testimonial2">
                                <div class="card-body text-center">
                                    <img src="img/client3.jpg" alt="" class="rounded-circle">
                                    <h6>They Provide Solutions</h6>
                                    <div class="ratings color-warning">
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                    </div>
                                    <p>Investig ationes demons traghyve runt lectores legere liusgr awquod he legunt dbtsaepius clary tyitas
                                        Investig atiohynes.</p>
                                    <p class="author-spec"><strong>Frank Woods,</strong> <span class="color-secondary">Aazztech</span></p>
                                </div>
                            </div><!-- End: .card-body -->
                        </div><!-- ends: .carousel-single -->
                        <div class="carousel-single">
                            <div class="card card-shadow card--testimonial2">
                                <div class="card-body text-center">
                                    <img src="img/client4.jpg" alt="" class="rounded-circle">
                                    <h6>Business is doing great</h6>
                                    <div class="ratings color-warning">
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                        <span><i class="la la-star"></i></span>
                                    </div>
                                    <p>Investig ationes demons traghyve runt lectores legere liusgr awquod he legunt dbtsaepius clary tyitas
                                        Investig atiohynes.</p>
                                    <p class="author-spec"><strong>Bob Andrews,</strong> <span class="color-secondary">Techstack</span></p>
                                </div>
                            </div><!-- End: .card-body -->
                        </div><!-- ends: .carousel-single -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients-with-facts bgimage biz_overlay overlay--primary p-top-105 p-bottom-105">
        <div class="bg_image_holder"><img src="img/bg1.jpg" alt=""></div>
        <div class="container content_above">
            <div class="row">
                <div class="col-lg-5 margin-md-60">
                    <h2 class="color-light">Some of Company Real Facts</h2>
                    <p class="color-light m-0">Investig ationes demons traghyve lectores legere liusgr awquod legunt dbtsaepius clary tyitas awq
                        Investig atiohynes demon dbtsaepius clary.</p>
                </div><!-- ends: .col-lg-5 -->
                <div class="col-lg-7">
                    <div class="d-flex justify-content-lg-around justify-content-between flex-wrap">
                        <div class="counter_single">
                            <div class="icon">
                                <span class="la la-folder-open-o"></span>
                            </div>
                            <p class="value count_up">385</p>
                            <p class="title">Project completed</p>
                        </div><!-- end: .counter_single -->
                        <div class="counter_single">
                            <div class="icon">
                                <span class="la la-headphones"></span>
                            </div>
                            <p class="value count_up">260</p>
                            <p class="title">Consultant</p>
                        </div><!-- end: .counter_single -->
                        <div class="counter_single">
                            <div class="icon">
                                <span class="la la-trophy"></span>
                            </div>
                            <p class="value count_up">150</p>
                            <p class="title">Award Winning</p>
                        </div><!-- end: .counter_single -->
                    </div>
                </div><!-- ends: .col-lg-7 -->
            </div>
        </div><!-- ends: .container -->
    </section><!-- ends: .clients-with-facts -->
    <section class="p-top-115 p-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Company News</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow card-two">
                            <figure>
                                <img src="img/c4.jpg" alt="">
                            </figure>
                            <div class="card-body">
                                <h6><a href="">Within the Construction is what Industry as Overdraft</a></h6>
                            </div>
                            <div class="card-footer">
                                <ul>
                                    <li><a href="">Fletcher Moses</a></li>
                                    <li>May 12, 2019</li>
                                </ul>
                            </div>
                        </div><!-- Ends: .card -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow card-two">
                            <figure>
                                <img src="img/c5.jpg" alt="">
                            </figure>
                            <div class="card-body">
                                <h6><a href="">Energy and Environment lorem dolor
                                        Consulting</a></h6>
                            </div>
                            <div class="card-footer">
                                <ul>
                                    <li><a href="">Davidson Rivas</a></li>
                                    <li>May 12, 2019</li>
                                </ul>
                            </div>
                        </div><!-- Ends: .card -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow card-two">
                            <figure>
                                <img src="img/c6.jpg" alt="">
                            </figure>
                            <div class="card-body">
                                <h6><a href="">Within the Construction is what
                                        Industry as Overdraft</a></h6>
                            </div>
                            <div class="card-footer">
                                <ul>
                                    <li><a href="">Mccray Bryan</a></li>
                                    <li>May 12, 2019</li>
                                </ul>
                            </div>
                        </div><!-- Ends: .card -->
                    </div>
                </div><!-- ends: .row -->
            </div>
        </div><!-- ends: .card-style-two -->
    </section>
    <section class="subscribe-wrapper subscribe--two">
        <div class="container content_above">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Subscribe To Our Newsletter</h2>
                    <p>Subscribe to get update and information. Don't worry, we won't send spam!</p>
                    <form>
                        <div class="row">
                            <div class="col-lg-7 m-auto">
                                <div class="subscribe-form d-flex">
                                    <div class="input-group input-group-light">
                                        <span class="icon-left" id="basic-addon1"><i class="la la-envelope"></i></span>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter your email" aria-label="Username">
                                    </div>
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- ends .row -->
        </div>
    </section><!-- ends: .subscribe-wrapper -->
{% endblock %}